
  a:link {
    text-decoration: none;
  }
  a:link{
    color: orange
  }
  a:visited {
    background-color: cyan;
  }
  a:hover {
    background-color: lightgreen
  }
  a:active {
    background-color: hotpink
    p {
    font-family: "Times New Roman", Times, serif;
}
